.bigboy {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: linear-gradient(135deg, rgba(166, 241, 224, 1), rgba(180, 250, 230, 1), rgba(210, 255, 240, 1), rgba(180, 250, 230, 1), rgba(166, 241, 224, 1));
		-webkit-background: linear-gradient(135deg, rgba(166, 241, 224, 1), rgba(180, 250, 230, 1), rgba(210, 255, 240, 1), rgba(180, 250, 230, 1), rgba(166, 241, 224, 1));
		-moz-background: linear-gradient(135deg, rgba(166, 241, 224, 1), rgba(180, 250, 230, 1), rgba(210, 255, 240, 1), rgba(180, 250, 230, 1), rgba(166, 241, 224, 1));


	padding-top: 15px;
	height: fit-content;

}

.boy {
	display: flex;
	flex-direction: column;
	flex: 0 0 25%;
	overflow: hidden;
	padding: 10px;
	background: var(--secondary-color);
	margin: 5px;
	margin-bottom: -5px;
	text-align: center;
	align-items: center;
	border-radius: 30px;
	height: 250px;
}

.button-container {
	width: 100%;
	background: -----;
}

.product-section { /* New container for products and button */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(135deg, rgba(166, 241, 224, 1), rgba(180, 250, 230, 1), rgba(210, 255, 240, 1), rgba(180, 250, 230, 1), rgba(166, 241, 224, 1));
		-webkit-background: linear-gradient(135deg, rgba(166, 241, 224, 1), rgba(180, 250, 230, 1), rgba(210, 255, 240, 1), rgba(180, 250, 230, 1), rgba(166, 241, 224, 1));
		-moz-background: linear-gradient(135deg, rgba(166, 241, 224, 1), rgba(180, 250, 230, 1), rgba(210, 255, 240, 1), rgba(180, 250, 230, 1), rgba(166, 241, 224, 1));

    padding-top: 15px;
    height: fit-content; /* Or a specific height if needed */
}

.see-all-products {
	display: flex;
	margin: 5px auto;
	width: fit-content;
	font-size: 1.6em;
	text-decoration: none;
	border: 2px;
	border-color: black;
    background-color: white; /* Adjust color as needed */
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
    margin-bottom: 15px;
}
.see-all-products:hover {
  font-size: 1.7em;
}

.boy img{
	display: flex;
	width: 100%;
	border-radius: 20px;
	height: 90%;
}
@media (max-width: 712px) {


    .boy {
        width: 30%;
        height: 80px;
        max-width: 400px;
        font-size: 0.7em;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #big {
    	height: 400px;
    }

    #big-image {
    	height: 100%;
    }
}

@media (max-width: 400px) {
	.see-all-products {
		font-size: 1em;
	}
}