:root {
  --primary-color: #ff3131; /* Define a root variable for primary color */
}

* {
  box-sizing: border-box;
}

body {
  background: #3f3f3f;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*---------------------------------------Here Starts Top Panel -------------------------------------*/
.top-panel {
  width: 100%;
  height: 130px;
  background-color: var(--primary-color);
  padding: 16px;
  clear: both;
  border-radius: 10px;
  position: relative;

}

h1 {
  font-size: 3em;
  float: left;
  padding: 5px;
  line-height: 10px;
  height: 10px;
}

.h1text {
  text-decoration: none;
  color: inherit;
}

#main-logo {
  border-radius: 1000px;
  width: 100px;
  height: 100px;
  float: left;
}

.nav-texts {
  margin: 10px;
  margin-top: 20px;
  font-size: 1.6em;
  float: right;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

/*---------------------------------------Here starts dropdown --------------------------------------*/
.menu-ico {
  width: 20px; /* Slightly smaller width */
  height: 2px;
  background-color: white; /* Change to white to match text color */
  margin: 4px 0; /* Reduce vertical spacing */
}

.dropbtn {
  background-color: var(--primary-color);
  color: white;
  padding: 5px;
  font-size: 1em;
  border: 1px solid white;
  cursor: pointer; 
}

#dropdown {
  position: relative;
  display: none;
  padding: 0px;
  float: right;
  margin: 0px;
  height: 35%;
  top: 30%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
  z-index: 1;
  text-align: center;
  right: 0;
  top: 100%;
  border-radius: 20px;
}

.dropdown-content a {
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
}

#dropdown:hover .dropdown-content {
  display: block;
}

#dropdown:hover .dropbtn {
  background-color: var(--primary-color);
}
/*---------------------------------------Here Ends dropdown -------------------------------------*/
/*---------------------------------------Here Starts Send msg -------------------------------------*/
#send-msg {
  display: flex;
  margin-top: 7px;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  height: auto;
  justify-content: center;
  border: 0px;
}

#send-msg div {
  float: left;
  margin-top: 5px;
  text-decoration: none;
  color: white;
}

#send-msg-logo {
  margin: 0px;
  margin-left: 5px;
  float: left;
}
/*---------------------------------------Here Ends Send msg -------------------------------------*/

#small-phone-div {
  padding: 10px 0px 5px 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-top: 5px;
  display: none;
  text-align: center;
} 

#small-phone {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}

/*---------------------------------------Here Ends Top Panel -------------------------------------*/

.horizontal-lines {
  width: 50%;
}

/*---------------------------------------Here Starts Body -------------------------------------*/
#big {
  display: flex;
  justify-content: center;
  margin: 30px 0px 10px 0px;
} 
#big-image {
  width: 90%;
  height: 500px;
  border-radius: 100px;
}


.web-body {
  width: 90%;
  height: auto;
  background-color: #595959;
  font-size: 2em;
  padding: 10px;
  margin: 20px 5px 15px 20px;
  align-self: center;
  padding: 20px;
  overflow: hidden;
  border-radius: 20px;
}

.para {
  float: left;
  width: 60%;
}

.content-image {
  width: 27%;
  border-radius: 100px;
  margin-left: 20px;
}

.headings {
  width: 90%;
  margin: 0px 0px 10px 0px;
}

#sec-para {
  float: right;
}

#sec-heading {
  width: 100%;
  text-align: right;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-jpg {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin: 5px;
}

footer p {
  margin: 0;
  padding: 10px;
  text-decoration: none;
}

#send-msg div:hover, .footer-jpg:hover, .nav-texts:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
}
/*---------------------------------------Here Ends Body -------------------------------------*/

/*------------------------------------------Media Queries--------------------------*/
/********** Medium devices only **********/
@media (max-width: 1204px) {
  .nav-texts {
    display: none;
  }

  #dropdown {
    display: inline-block;
  }

  #phone {
    display: block;
  }
  .para {
    font-size: 0.8em;
  }
}

/********** Small devices only **********/
@media (max-width: 712px) {
  .top-panel {
    height: 90px;
  }

  #phone {
    font-size: 1em;
  }
  h1 {
    font-size: 2em;
  }
  #main-logo {
    width: 50px;
    height: 50px;
  }

  .headings {
    font-size: 1em;
  }

  .para {
    font-size: 0.7em;
  }
}

/********** Extra small devices only **********/
@media (max-width: 508px) {
  #phone {
    display: none;
  }
  #small-phone-div {
    display: block;
  }
  .para {
    font-size: 0.6em;
  }
}

/********** Very Extra small devices only **********/
@media (max-width: 400px) {
  #main-logo {
    margin-top: 7px;
    width: 40px;
    height: 40px;
  }
  h1 {
    font-size: 1.7em;
  }
  .top-panel {
    height: 70px;
  }
}

@media (max-width: 344px) {
  #main-logo {
    width: 0px;
  }
  h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 264px) { 
  h1 {
    font-size: 1em;
  }
}
/*------------------------------------------Media Queries--------------------------*/
